/*=================================
          Navigation Styles
===================================*/
.navigation {
  width: 100%;
  padding: 2rem;
}

.nav-container {
 display: flex;
 justify-content: space-between;
}

.cart-icon {
  width: 1.4rem;
  height: 1.4rem;
}

.navigation .logo {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.navigation .logo span {
 color: hsl(0, 88%, 58%);
}

/*=================================
          Title Styles
===================================*/
.home-title {
 font-size: 1.5rem;
 letter-spacing: 1px;
 text-align: center;
 margin: 3rem 0;
}

/*=================================
          Items-container Styles
===================================*/
.items-container {
 padding: 1.5rem 0;
 background-color: var(--clr-grey-5);
 margin-top: 2rem;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.product-image {
  width: 250px;
  border-radius: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  padding-top: 1rem;
  color: var(--clr-grey-10);
}

.product-name {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.product-price {
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}





